# Ignore virtual environment
.venv311/

# Ignore secret files
.env

# Ignore cache / temp files
__pycache__/
*.pyc

# Ignore Streamlit logs
.streamlit/

# Optional: ignore local outputs
live_outputs/*.json
